// Your styles go here
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

.jumbotron {
    background-image: linear-gradient(to bottom right, pink, rgb(243, 42, 143), gray);
}

.pro {
    color: rgb(243, 42, 143);
}

#features > h1 {
    color: rgb(243, 42, 143);
}

.plans {
    color: rgb(243, 42, 143);
}

.pricing {
    color: rgb(243, 42, 143);
}

.gallery {
    color: rgb(243, 42, 143);
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 100px;
}

.projects {
    color: rgb(243, 42, 143);
}
